header{
    text-align:center;
    width:100%;
    height:20%;
    background-color:#1F293D;
    color:white;
    margin:0px;
    padding:1%;
}

header h1{
    margin:0px;
}

body{
    margin:0px;
    text-align: center;
}

#acc_field, #pwd_field{
    width:80%;
    height:100%;
    background-color: #EBEBEB;
    font-size:20px;
    text-align: center;
    color:black;
    border-style:none;
    padding-bottom:13px;
    padding-top:13px;
    vertical-align: middle;
}

#usersymbol, #pwdsymbol {
    vertical-align: middle;
}

#pwdinput {
    margin-top: 20px;
}

.logo{
    background-color:deepskyblue;
    font-size: 1.5em;
    width:15%;
    color:white;
    margin-left: -5px;
}

#wrapper{
    display: inline-block;
    margin-top: 8%;
    height:12%;
    width:50vw;
}

#cancel, #submit{
    position: absolute;
    margin:10% auto 0 auto;
    width:20%;
    padding-top:2%;
    padding-bottom:2%;
    color:white;
    font-size:20px;
}

#cancel:hover, #submit:hover{
    cursor:pointer;
}

#cancel{
    background-color: #DC3A7D;
}

#submit{
    left:55%;
    background-color: #67B86A;
}
